@media only screen {

/*................... Index ...................*/
	body {
		font-family: 'Titillium Web', sans-serif;
		font-weight: 300;
		font-size: 16px; 	
	}

	b {
		font-weight: 600;
	}
			
	.forTitle {
		font-family: 'Exo', sans-serif;
	}

	#logo {
		position: absolute;
		top: 30px;
		left: 20px;
		z-index: 700;
		font-size: 120%;
		letter-spacing: -1px;
	}

	#logo > a
	#logo > a:focus, 
	#logo > a:visited, 
	#logo > a:active {
		color: #1c1c59;
		z-index: 700;
	}

	#logo > a:hover {
		color: #6868d0;
	}

	#buttonNavbar {
		position: fixed;
		top: 30px;
		right: 20px;
		border-radius: 0;
		background_color: transparent;
		z-index: 800;		
	}

	a,
	a:hover,
	a:focus,
	a:active,
	a:visited {
		text-decoration:none;
	}

	ul{  
		list-style-type:none;  
	}  

	.glyphicon-menu-hamburger {
		color: #1c1c59;	
	} 

	.glyphicon-menu-hamburger:hover {
		color: #6868d0;	
	} 

	.glyphicon-menu-right {
		color: #c8c8ee;
		font-size: 150%;
	}

	.glyphicon-menu-right:hover {
		color: #fff;
		font-weight: bolder;
	}  

	button {
	    background-color: Transparent;
	    background-repeat:no-repeat;
	    border: none;
	    cursor:pointer;
	    overflow: hidden;
	    outline:none;
	}

	#sideNavbar {
		display: none;
		background-color: rgba(23, 23, 74, 1);
		height:100%;
		width:100%;
		position:fixed;
		right: 0%;
		top:0%;
		z-index: 900;
	}

	#sideNavbar > ul {
		padding: 30px;
		color: #fff;
	}

	#sideNavbar > ul > li > a {
		font-size: 150%;
		color: #c8c8ee;
		line-height: 200%;
		font-weight: 200;
	}

	#sideNavbar > ul > li > a:hover {
		color: #fff;
		font-weight: 600;
	}

	footer {
		padding:4%;
		font-family: "Exo";
		font-size: 90%; 
	}

	footer > div > div:last-child {
		text-align: right;
	}

	footer a {
		padding-top: 5%;
		color: #4d4d4d;
		line-height: 180%;
	}

	footer a:hover {
		padding-top: 2%;
		color: #4d4d4d;
		font-weight: bolder;
	}

	.flex-container {
	    flex-wrap: nowrap;
	    -webkit-flex-wrap: wrap;
	    display: flex;
	    -webkit-display: flex;
	    -webkit-justify-content: space-between;
	    justify-content: space-between;
	    background-color: transparent;
	    padding-bottom: 15%;
		width: 100%;
	}

	.flex-item {
	    background-color: transparent;
	    width: 150px;
	    height: 100px;  
	}

/*................... Index end ...................*/

/*................... Parallax start ...................*/

	* {
	    margin: 0;
	    padding: 0;
	}

	#wrapper {
	    box-shadow: 0 0 0px rgba(0, 0, 0, 0.8);
	    margin: 0 auto;
	    max-width: 1440px;
	    width: 100% !important;
	}
	 	
	.pBlock {
	 	background-attachment: fixed;
	    background-repeat: no-repeat;
	    background-size: cover;
	    height: 800px;
	    margin: 0 auto;
	    max-width: 1440px;
	    overflow: hidden;
	    padding: 0;
	    position: relative;
	    width: 100% !important;
	}

	#pb1 {
		background-image: url("images/back.jpg");
	}

	#pb2 {
		background-image: url("images/image-learn.jpg");
	}

	#pb3 {
		background-image: url("images/sd-2.jpg");
	}

	#pb4 {
		background-image: url("images/sd-6.jpg");
	}


/*................... Parallax end ...................*/

/*................... Home view ......................*/


	.home-section-standard {
		background-repeat:no-repeat;
		background-size:cover;
		height: 700px;
		width: 100%;
	}

	.home-section-1 {
		background-image: url("images/back.jpg");
	}

	.home-section-2 {
		background-color: #fff;
	}

	.home-section-3 {
		background-image: url("images/image-idea.jpg");
	}

	.home-section-4 {
		background-image: url("images/sd-1.jpg");
	}

	.home-section-5 {
		background-image: url("images/image-folk.jpg");
	}

	.home-section-6 {
		background-image: url("images/image-funds.jpg");
	}

	.home-section-7 {
		padding-top: 5%;
		padding-bottom: 1%;
	}

	.aim {
		line-height: 110%;
		font-size: 190%;
		letter-spacing: -1px;
		font-weight: 200;
		padding: 2%;
		color: #fff;
		background-color: rgba(73, 73, 122, 0.9); 
		margin-top: 7%;
		border-left: 15px solid;
	}

	#label {
		background-color: rgba(255,255,255, 0.9);
		padding: 4%;
	}

	#label-2 {
		background-color: rgba(255,255,255, 0.9);
		padding: 4%;
	}

	#label-3 {
		background-color: rgba(255,255,255, 0.9);
		padding: 4%;
	}

	#label-4 {
		background-color: rgba(255,255,255, 0.9);
		padding: 4%;
	}

	#label-5 {
		background-color: rgba(255,255,255, 0.9);
		padding: 4%;
	}

	.content-1 {
		padding-top: 200px;
		color: #4d4d4d;	
	}

	.content-1 > h1 {
		padding-bottom: 2%;
		text-transform: uppercase;
	}

	.content-1 > h1 > sup {
		color:#49497a;
		font-family: "Exo";
		font-weight: 400;
	}

	.content-1 > h3 {
		padding-top:1%;
		letter-spacing: -1.3px; 
	}

	.content-2 {
		padding-top: 10%;
		padding-bottom: 22%;	
	}

	.content-2 h4 {
		padding-top: 3%;	
	}

	.content-2 button {
		margin-top: 5%;	
	}

	.content-3 {
		padding-top: 3%;
		padding-bottom: 5%;	
	}

	.emphasis {
		letter-spacing: -1px;
	}

	.home-section-7 > div > h3 {
		padding-bottom: 0%;
		cursor: pointer;
	}

	.home-section-7 > div > h3:hover {
		color: #49497a;
		font-weight: bold;
	} 

	.home-section-7 .row {
		padding-bottom: 5%;
		margin-bottom: 0%;
	}

	.home-section-7 .row h3 {
		padding-top: 10%;
		padding-bottom: 4%;
		font-family: "Exo";
	}

	.home-section-7 .row h4 {
		padding-bottom: 6%;
	}

	.button-squared {
		padding: 3% 10%; 
		font-size: 120%; 
		border: 3px solid rgba(73, 73, 122, 1); 
		color: rgba(73, 73, 122, 1); 
		font-weight: 600;
		letter-spacing: -0.8px;
	}

	.button-squared:hover {
		border-color:  rgba(73, 73, 122, 1);
		background:  rgba(73, 73, 122, 1);
		color: #fff;
	}

	.button-squared-2 {
		padding: 5% 8%; 
		font-family: "Exo"; 
		border: 3px solid #e8e8ee; 		 
	}

	.button-squared-2:hover {
		border: 3px solid #c5c5d5;
		background-color: #c5c5d5;  
		color: #49497a; 
	}

	h1 {
		font-size: 500%;
		letter-spacing: -7px;
		font-weight: 600;
	}

	h2 { 
		letter-spacing:-2px; 
		font-size: 300%; 
		line-height: 110%; 	
	}

	h3 { 
		letter-spacing:-0.8px; 
		font-size: 180%; 
		line-height: 110%; 	
	}

	h4 {
		line-height: 140%;
	}

	.firstColour {
		color:#49497a; 
	}

	.mark1 {
		background-color: #49497a; 
		color: white; 
		letter-spacing:0px; 
		font-size: 120%;
	}

	.mark2{
		background-color: #49497a; 
		color: white;  
		font-size: 180%;
		letter-spacing:-0.5px;
		font-family: "Exo";
	}

	mark {
		padding-left: 3%;
		padding-right: 3%;
	}

	.bar {
		width: 60%;
		padding: 1px;
	    background-color: #d8d8f3; 
	    -webkit-box-sizing: border-box;
	    -moz-box-sizing: border-box;
	    box-sizing: border-box;
	    margin: 5% auto 3% 0%;
	}

	.title1 {
		padding-top: 5%;
		padding-bottom: 5%;
		border-top: 3px solid;
		border-bottom: 3px solid;
		font-weight: 300;
		color: #49497a;	 
		letter-spacing:-0.9px; 
		font-size: 180%; 
		line-height: 110%;
		font-family: "Exo";
	}

	/*Programme*/

	.programme {
		padding-top: 15%;
	}

	#programmeIntro {
		padding-top: 4%;
		padding-bottom: 4%;
	}

	.agenda-1 {
		color: #000;
	}

	.agenda-2 {
		font-weight: 600;
	}

	.agenda-3 {
		font-weight: 600;
		color: #939393;
	}

	.agenda-4 {
		color: #151515;
	}

	#orderOptions {
	display: none;
	padding-top: 2%;
	padding-left: 2%;
	color:#49497a;
	}

	#showOrderOptions {
		cursor: pointer;
		padding-bottom: 1%;
	}

}

@media only screen and (min-width: 500px) {

	#logo {
		top: 30px;
		left: 40px;
	}

	#buttonNavbar {
		top: 30px;
		right: 40px;	
	} 

	#sideNavbar {
		width:40%;
		background-color: rgba(23, 23, 74, 0.95);
	}



	/*-------*/

	.content-2 {
	padding-top: 5%; 
	padding-bottom: 8%;	
	}


	.home-block-4-content {
		padding-top: 5%;
		padding-bottom: 1%;	
	}

	.content-3 {
		padding-top: 15%;
		padding-bottom: 20%;	
	}

}


@media (max-width: 700px) and (orientation: landscape) { 

	#sideNavbar {
		
		overflow-y:scroll;
    	overflow-x:hidden;
	}

 }