<div class="main-view" ng-controller="ContactController">

	<div class="container">
		<mark class="mark1"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>&nbsp;&nbsp;{{view}}</mark>
		<div class="row content-box-2">
			<div class="col-sm-6">
				<h3>How can we help you?</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>		
			</div>
		</div>
	</div>

	<map-office id="map"></map-office>
	
	<div class="container">
		<div class="row content-box-3">
			<div class="col-sm-3">
				<h3>Visit us</h3>
				<span class="firstColour textStyle-2">Fintopics</span><br>
				5 Merrion Square<br>
				Dublin 2<br> 
				Ireland<br><br>
				<h3>Call us</h3>
				Mon-Fri <br>
				08.00-18.00<br>
				+353 5765436346	
			</div>
			
			<div class="col-sm-6">
				<!-- .................... FORM ............................ -->
				<h3>Send us a message</h3>
				<form class='' name="contactForm" novalidate ng-submit="submit(contactForm)">
				
					<div class="row">
						<!-- Name .............................................. -->
				        <div class="col-md-6">
				            <input  class="form-control"
				                    type="text" 
				                    placeholder="Enter your name" 
				                    name="Name" 
				                    ng-model="contact.Name" 
				                    ng-minlength=2
				                    ng-maxlength=30 
				                 	required>
				        </div>
						<!-- Email .............................................. -->				    
				        <div class="col-md-6">
				            <input  class="form-control"
				                    type="email" 
				                    placeholder="Enter your email address" 
				                    name="email" 
				                    ng-model="contact.email" 
				                    ng-minlength=5 
				                    ng-maxlength=30 	                     
				                    required>
				        </div>    
				    </div>
					<div class="row">
						<!-- Validation Name - Email .............................................. -->
						<div class="col-md-6" ng-show="contactForm.Name.$invalid 
											&& wasSubmitted">
							<p class="error">Hey!</p>
							<p class="error" ng-show="contactForm.Name.$error.required">Please input your name.</p>
							<p class="error" ng-show="contactForm.Name.$error.minlength">Your name is required to be at least 2 characters.</p>
							<p class="error" ng-show="contactForm.Name.$error.maxlength">Your name cannot be longer than 30 characters.</p>
						</div>
						<div class="col-md-6" ng-show="contactForm.email.$invalid 
											&& wasSubmitted">
							<p class="error">Hey!</p>
							<p class="error" ng-show="contactForm.email.$error.required">Please input an email.</p>
							<p class="error" ng-show="contactForm.email.$error.minlength">Your email is required to be at least 5 characters.</p>
							<p class="error" ng-show="contactForm.email.$error.maxlength">Your email cannot be longer than 30 characters.</p>
							<p class="error" ng-show="contactForm.email.$error.email">That is not a valid email.<br>Please input a valid one.</p>
						</div>
					</div>
				    <div class="row"> 
				    	<!-- Message .............................................. --> 
				        <div class="col-md-12">
				            <textarea class="form-control"
				                    type="text" 
				                    placeholder="Enter your message" 
				                    name="message" 
				                    ng-model="contact.message"
				                    rows="5" 
				                    ng-minlength=2 
				                    ng-maxlength=200
				                    required></textarea>  
				        </div>          
				    </div>
				    <div class="row">
						<!-- Validation Name & Email .............................................. -->
						<div class="col-md-12" ng-show="contactForm.message.$invalid 
											&& wasSubmitted">
							<p class="error">Hey!</p>
							<p class="error" ng-show="contactForm.message.$error.required">Please leave your message.</p>
							<p class="error" ng-show="contactForm.message.$error.minlength">Your message is required to be at least 2 characters.</p>
							<p class="error" ng-show="contactForm.message.$error.maxlength">Your message cannot be longer than 200 characters.</p>
						</div>
					</div>						
				    <div class="row">  
				    	<!-- Newsletter .............................................. -->
				        <div class="col-md-12">
					        <label>Do you want to suscribe to our newsletter?</label><br>
					        <input 
						        type="radio" 
						        name="suscribeYes"
						        ng-model="newsletter.option" 			       
						        value="yes">&nbsp;&nbsp;Yes&nbsp;&nbsp;
					         <input 
						        type="radio" 
						        name="suscribeNo" 
						        ng-model="newsletter.option"
						        value="no">&nbsp;&nbsp;No			     
					     	<div ng-switch="newsletter.option" >
					        	<p class="answerForm" ng-switch-when="yes"><span class="glyphicon glyphicon-hand-right"></span>&nbsp;&nbsp;Perfect. We'll keep you informed about following summits.</p>
					        </div>
					    </div>
					</div>
					 <div class="row">   
					    <div class="col-md-12">
					    <br>
					    	<button type="submit" class="btn btn-primary">Submit</button>   
					    </div>
					</div>
				</form>
			</div>		
		</div>
	 

		<!-- .............. VALIDATION CHECK ...................................... -->


		<!-- <div style="color: orangered">
			<br><br><hr>
		    Form was submitted: <b>{{wasSubmitted}}</b><br></br>
		    <hr>
		    FORM<br>
			Scope value: <b>{{contact}}</b><br>
		    Valid? <b>{{contactForm.$valid}}</b><br> 
			Error? <b>{{contactForm.$error}}</b><br> 
			Untouched? <b>{{contactForm$untouched}}</b><br> 
			Dirty? <b>{{contactForm.$dirty}}</b><br>
				
		    <hr>
		    NAME<br>
		    Scope value: <b>{{contact.Name}}</b><br>
			Valid? <b>{{contactForm.Name.$valid}}</b><br> 
			Error? <b>{{contactForm.Name.$error}}</b><br> 
			Untouched? <b>{{contactForm.Name.$untouched}}</b><br> 
			Dirty? <b>{{contactForm.Name.$dirty}}</b><br> 
			
			<hr>
		    EMAIL<br>
		    Scope value: <b>{{contact.email}}</b><br>
			Valid? <b>{{contactForm.email.$valid}}</b><br> 
			Error? <b>{{contactForm.email.$error}}</b><br> 
			Untouched? <b>{{contactForm.email.$untouched}}</b><br> 
			Dirty? <b>{{contactForm.email.$dirty}}</b><br> 
		
			<hr>
		    MESSAGE<br>
		    Scope value: <b>{{contact.message}}</b><br>
			Valid? <b>{{contactForm.message.$valid}}</b><br> 
			Error? <b>{{contactForm.message.$error}}</b><br> 
			Untouched? <b>{{contactForm.message.$untouched}}</b><br> 
			Dirty? <b>{{contactForm.message.$dirty}}</b><br> 
		
			<hr>
			Newsletters OK? <b>{{newsletter}}</b><br>
			
		</div> -->

		<!-- ................ End VALIDATION CHECK ............................. -->

	</div> 
</div> 



