
<div id="wrapper" ng-controller="HomeController">

	<section id="pb1" class="pBlock">
		<div class="container">
			<div class="row">
				<div class="col-xs-0 col-sm-6 col-md-6 col-lg-8"></div>
				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 content-1">
					<h1>Summit<sup>16</sup></h1>
					<h4>Dublin | May <b><span class="emphasis">27</span></b></h4>
					<h3 class="firstColour">Where entrepreneurs talk to funders.</h3>
				</div>
			</div>
		</div>
	</section>

	<section id="pb2" class="pBlock"></section>

	<section class="home-section-2">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-4 content-2">
					<h3>This year, <span class="firstColour"><b>Fintopics</b></span> organises its biennial summit in the capital of the Emerald Isle.</h3>
					<h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut <b>labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris</b> nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</h4>
				</div>
				<div class="col-xs-0 col-sm-6 col-md-8">
				</div>
			</div>			
		</div>
	</section>

	<section id="pb3" class="pBlock">
		<div class="container">
			<div class="row">
				<div id="aim1" class="col-xs-12 col-sm-3 col-md-3 col-lg-3 aim">	
					Do you have a project and you need funds?
				</div>
				<div class="col-xs-0 col-sm-9 col-md-9 col-lg-9">
				</div>
			</div>
		</div>
	</section>

	<section id="pb4" class="pBlock">
		<div class="container">
			<div class="row">
				<div id="aim2" class="col-xs-12 col-sm-3 col-md-3 col-lg-3 aim">	
					Do you have capital and you need a project?
				</div>
				<div class="col-xs-0 col-sm-9 col-md-9 col-lg-9">
				</div>
			</div>
		</div>
	</section>
	
	<section class="home-section-2">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-4 content-2">
					<h3>Don't miss this <span class="firstColour"><b>opportunity</b></span>.</h3>
					<h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed <b>do eiusmod
					tempor incididunt ut labore</b> et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute <b>irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla</b> pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</h4>
				</div>
				<div class="col-xs-0 col-sm-6 col-md-8 content-2">
				</div>
			</div>			
		</div>			
	</section>

	<section>
		<video preload="auto" autoplay loop width="100%">
		    <source src="media/video/clip_1_MP4.mp4" type="video/mp4"/>
		    <source src="media/video/clip_1_OGV.ogv" type="video/ogg"/>
		    <source src="media/video/clip_1_WEBM.webm" type="video/webm"/>
		</video>
	</section>

	<section class="home-section-2">
		<div class="container">
			<div class="row content-2">
				<div class="col-sm-6">
					<h3>Listen to success stories and learn why other ideas failed.</h3>
					<div class="bar"></div>
					<h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed <b>do eiusmod
					tempor incididunt ut labore</b> et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Duis aute <b>irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla</b> pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</h4>
				</div>
				<div class="col-sm-6">
					<h3>Share your experience and discover other ways to tackle problems.</h3>
					<div class="bar"></div>
					<h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut laboreet dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation <b>ullamco laboris nisi ut aliquip</b> ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit <b>in voluptate velit esse
					cillum</b> dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</h4>
				</div>
			</div>			
		</div>			
	</section>

	<section class="home-section-3 pBlock">
		<div class="container">
			<div class="row">
				<div class="col-xs-0 col-sm-6 col-md-6 col-lg-8">	
				</div>
				<div id="label" class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
					<p class=" firstColour title1">01. Show your idea</p>
					<br>
					<h4>Ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Excepteur sint occaecat cupidatat non
					proident, <b>sunt in culpa qui officia deserunt mollit anim id est laborum</b>.</h4>
				</div>
			</div>
		</div>
	</section>

	<section class="home-section-4 pBlock">
		<div class="container">
			<div class="row">
				<div id="label-2" class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
					<p class=" firstColour title1">02. Learn the latest</p>
					<br>
					<h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt <b>ut labore et dolore</b> magna aliqua. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia est laborum.
					</h4>
				</div>
				<div class="col-xs-0 col-sm-6 col-md-6 col-lg-8"></div>
			</div>
		</div>
	</section>

	<section class="home-section-5 pBlock">
		<div class="container ">
			<div class="row">
				<div class="col-xs-0 col-sm-6 col-md-6 col-lg-8">	
				</div>
				<div id="label-3" class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
					<p class=" firstColour title1">03. Meet the folk</p>
					<br>
					<h4>Excepteur sint occaecat cupidatat non
					proident, <b>sunt in culpa qui</b> officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt.</h4>
				</div>
			</div>
		</div>
	</section>

	<section class="home-section-6 pBlock">
		<div class="container">
			<div class="row">
				<div id="label-4" class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
					<p class=" firstColour title1">04. Find a project</p>
					<br>
					<h4>Aute irure <b>dolor in reprehenderit in voluptate</b> velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</h4>
				</div>
				<div class="col-xs-0 col-sm-6 col-md-6 col-lg-8"></div>
			</div>
		</div>
	</section>

	<section class="home-section-7">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-3">	
					<h3>How can I get a ticket?</h3>
					<h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation.</h4>
					<a href="#/tickets"><button class="button-squared">Tickets</button></a>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-3">
					<h3>What will be the agenda?</h3>
					<h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation.</h4>	
					<a href="#/programme"><button class="button-squared">Programme</button></a>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-3">
					<h3>Who will be the participants?</h3>
					<h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation.</h4>	
					<a href="#/speakers"><button class="button-squared">Speakers</button></a>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-3">
					<h3>Where can I get more details?</h3>
					<h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation.</h4>
					<a href="#/contact"><button class="button-squared">Contact</button></a>
				</div>
			</div>
		</div>		
	</section>
	
</div>






