
	<section id="home-panel">
		<div class="container">
			<div class="row">
				<div class="col-md-8"></div>
				<div class="col-md-4">
					<span class="glyphicon glyphicon-tree-conifer"></span>&nbsp;<b>Fintopics</b>
					<h1>Summit<sup>16</sup></h1>
					<p>Dublin | December <span id="home-summit-date">20</span></p>
					<h3>Where entrepreneurs talk to funders.</h3>
					<a href="#/intro"><button class="button-squared-2">Get started</button></a>
				</div>

			</div>
		</div>
	</section>

	<section>
		<video id="home-video" preload="auto" autoplay loop width="100%" poster="media/video/Window-Snow.jpg">
		    <source src="media/video/Window-Snow.mp4" type="video/mp4"/>
		   <source src="media/video/Window-Snow.ogv" type="video/ogg"/>
		   <source src="media/video/Window-Snow.webm" type="video/webm"/>
		</video>
	</section>

		


