<div id="wrapper" ng-controller="HomeController">

	<section id="intro-section-1" class="parallax-standard-block">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<p class="secondSlogan">The <span class="firstColour"><b>meeting point</b></span> you're looking for.</p>
				</div>
			</div>
		</div>
	</section>

	<section id="intro-section-2" class="parallax-standard-block">
		<div class="container">
			<div class="row">
				<div class="col-sm-4 auditorium-text-background">
					<p class="emerald-isle-text">This year, <b>Fintopics</b> organises its <b>winter summit</b> in the capital of the Emerald Isle.</p>
					<hr>
				</div>
				<div class="col-sm-8"></div>
			</div>
		</div>
	</section>

	<section>
		<div class="container">
			<div class="row">
				<div class="col-sm-6 explanation">
					<hr>
					<h3>Exercitation ullamco, <span class="firstColour"><b>incididunt</b></span>  in reprehenderit in voluptate velit esse cillum dolore eu fugiat.</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
					<hr>				
				</div>
				<div class="col-sm-6 opinion animation1">
					<h2><q>Nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat.</q></h2>
					<h3>David Smith</h3>
					<h5>CEO &amp; Founder - Mapattack</h5>
					<h2><q>Occaecat cupidatat non proident, sunt in culpa qui officia.</q></h2>
					<h3>Margaret O'Connor</h3>
					<h5>Professor - IBP Business School</h5>	
				</div>
			</div>
		</div>
	</section>

	<section id="intro-section-3" class="intro-section-standard parallax-standard-block">
		<div class="container">
			<div class="row">
				<div class="col-xs-0 col-sm-7 col-md-7 col-lg-7">
				</div>
				<div id="" class="col-xs-12 col-sm-5 col-md-5 col-lg-5 summit-caption">	
					Do you <b>have a project</b> and you <b>need funds</b>?
				</div>	
			</div>
		</div>
	</section>

	<section id="intro-section-4" class="intro-section-standard parallax-standard-block">
		<div class="container">
			<div class="row">
				<div class="col-xs-0 col-sm-7 col-md-7 col-lg-7">
				</div>
				<div id="" class="col-xs-12 col-sm-5 col-md-5 col-lg-5 summit-caption">	
					Do you <b>have capital</b> and you <b>need a project</b>?
				</div>
			</div>
		</div>
	</section>
	
	<section>
		<div class="container">
			<div class="row">
				<div class="col-sm-6 opinion-2 animation1">
					<h2><q>Reprehenderit in voluptate velit esse
					cillum pariatur. Excepteur sint cupidatat non
					proident.</q></h2>
					<h3>Arthur McGregor</h3>
					<h5>CFO - Green Bank</h5>
					<h2><q>Sint occaecat cupidatat
					proident in non voluptate.</q></h2>
					<h3>Andrew Stone</h3>
					<h5>Professor - Hook University</h5>
				</div>
				<div class="col-sm-6 explanation-2">
					<hr>
					<h3>Don't miss this <span class="firstColour"><b>opportunity</b></span>.</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur.</p>
					<hr>
				</div>
			</div>
		</div>	
	</section>

	<section class="intro-steps-1 parallax-standard-block">
		<div class="container">
			<div class="row">
				<div class="col-xs-0 col-sm-6 col-md-6 col-lg-8">	
				</div>
				<div id="summit-step-1" class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
					<p class="explanatory-step-box"><span class="secondaryFont"><b>01.</b></span> <span class="firstColour">Show your idea</span></p>
					<br>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor <b>incididunt ut labore et dolore magna aliquat enim ad minim veniam,
					quis nostrud exercitation</b> ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>					
				</div>
			</div>
		</div>
	</section>

	<section class="intro-steps-2 parallax-standard-block">
		<div class="container">
			<div class="row">
				<div id="summit-step-2" class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
					<p class="explanatory-step-box"><span class="secondaryFont"><b>02.</b></span> <span class="firstColour">Learn the latest</span></p>
					<br>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis <b>nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat</b>. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				</div>
				<div class="col-xs-0 col-sm-6 col-md-6 col-lg-8"></div>
			</div>
		</div>
	</section>

	<section class="intro-steps-3 parallax-standard-block">
		<div class="container ">
			<div class="row">
				<div class="col-xs-0 col-sm-6 col-md-6 col-lg-8">	
				</div>
				<div id="summit-step-3" class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
					<p class="explanatory-step-box"><span class="secondaryFont"><b>03.</b></span> <span class="firstColour">Meet the folk</span></p>
					<br>
					<p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis <b>nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</b> consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
					
				</div>
			</div>
		</div>
	</section>

	<section class="intro-steps-4 parallax-standard-block">
		<div class="container">
			<div class="row">
				<div id="summit-step-4" class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
					<p class="explanatory-step-box"><span class="secondaryFont"><b>04.</b></span> <span class="firstColour">Find a project</span></p>
					<br>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis <b>aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat</b> nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					
				</div>
				<div class="col-xs-0 col-sm-6 col-md-6 col-lg-8"></div>
			</div>
		</div>
	</section>

	<section class="">
		<div class="container">
			<div class="row explanation-with-icon">
				<div class="col-sm-3 ">
					<h3><span class="glyphicon glyphicon-record"></span>&nbsp;&nbsp;Boost your return</h3>
					<div class="bar-icon"></div>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed <b>do eiusmod
					tempor incididunt ut labore</b> et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Duis aute <b>irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla</b> pariatur. Ut enim ad minim veniam, quis nostrud exercitation ullamco nisi ut aliquip.</p>
				</div>
				<div class="col-sm-3">
					<h3><span class="glyphicon glyphicon-blackboard"></span>&nbsp;&nbsp;Share your experience</h3>
					<div class="bar-icon"></div>
					<p>Ut enim ad minim veniam,
					quis nostrud exercitation <b>ullamco laboris nisi ut aliquip</b> ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit <b>in voluptate velit esse
					cillum</b> dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum in reprehenderit in voluptate velit esse cillum dolore eu fugiat.</p>
				</div>
				<div class="col-sm-3">
					<h3><span class="glyphicon glyphicon-flash"></span>&nbsp;&nbsp;Discover new trends</h3>
					<div class="bar-icon"></div>
					<p>Lorem ipsum dolor sit amet, sunt in culpa qui officia deserunt mollit anim id est laborum. Duis aute <b>irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla</b> pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborumin reprehenderit in voluptate velit esse cillum dolore eu fugiat. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
				</div>
				<div class="col-sm-3">
					<h3><span class="glyphicon glyphicon-fullscreen"></span>&nbsp;&nbsp;Expand your network</h3>
					<div class="bar-icon"></div>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor in reprehenderit in voluptate velit esse cillum dolore eu fugiat incididunt ut laboreet dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation <b>ullamco laboris nisi ut aliquip</b> ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit.</p>
				</div>
			</div>
		</div>	
	</section>

	<section>
		<div class="container">
			<div class="row section-attending">
				<div class="col-sm-4 interested-attending animation1">
					<h2>Are you interested in attending?</h2>
				</div>
				<div class="col-sm-8">
					<div class="row">
						<div class="col-sm-6 ">
							<a href="#/programme">
								<button class="button-squared-3">
									<h3>What is the agenda?</h3>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
									tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
									quis nostrud exercitation.</p>
									<span class="glyphicon glyphicon-chevron-right"></span>
								</button>
							</a>
							<a href="#/speakers">
								<button class="button-squared-3">
									<h3>Who will participate?</h3>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
									tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
									quis nostrud exercitation.</p>
									<span class="glyphicon glyphicon-chevron-right"></span>
								</button>
							</a>		
						</div>
						<div class="col-sm-6">
							<a href="#/venue">
								<button class="button-squared-3">
									<h3>Where will it take place?</h3>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
									tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
									quis nostrud exercitation.</p>
									<span class="glyphicon glyphicon-chevron-right"></span>
								</button>
							</a>
							<a href="#/contact">
								<button class="button-squared-3">
									<h3>How can I get a ticket?</h3>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
									tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
									quis nostrud exercitation.</p>
									<span class="glyphicon glyphicon-chevron-right"></span>
								</button>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>	
	</section>

</div>






