<div class="programme" ng-controller="ProgrammeController">

	<mark class="mark2">Programme</mark>

	<div class="container">

		<div id="programmeIntro" class="row">
			<div class="col-sm-6">
				<h3>What's new in this summit?</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>	
			</div>
			<div class="col-sm-6"></div>
		</div>

		<div id="showOrderOptions"><span class="glyphicon glyphicon-plus-sign"></span> &nbsp;Order by:
			<div id="orderOptions">
				<p ng-click="orderF('time')">Time</p>
				<p ng-click="orderF('room')">Room</p>
				<p ng-click="orderF('field')">Topic</p>
			</div>
		</div>
	
		<div class="row" ng-repeat="talk in programme | orderBy:order">
			<hr>
			<div class="col-sm-1 col-md-4">
				<span class="agenda-1">{{talk.time}}</span><br>
				<span class="agenda-1">{{talk.room}}</span><br>
				<span class="agenda-1">{{talk.field}}</span>
			</div>
			<div class="col-sm-1 col-md-8">
				<span class="agenda-2 firstColour">{{talk.title}}</span><br>
				<span class="agenda-3">{{talk.speaker}}</span><br>
				<span class="agenda-4">{{talk.description}}</span>
			</div>
		</div>

	</div>
</div> 