<div class="main-view" ng-controller="VenueController">

	<div class="container">

		<mark class="mark1"><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>&nbsp;&nbsp;{{view}}</mark>
		
		<div id="" class="row content-box-2">
			<div class="col-sm-6">
				<h3>Let's meet at the Convention Centre Dublin.</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation sint occaecat cupidatat non
				proident, sunt in culpa qui ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip.<br>
				Duis aute <b>irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat</b> nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt.</p>	
			</div>
			<div class="col-sm-6">    
					<div id="venue-video" class="video-container">
						<iframe width="100%" height="315" src="https://www.youtube.com/embed/mvc3Rnf0kug" frameborder="0" allowfullscreen></iframe>
					</div>         			
			</div>
		</div>	
	</div>
 
    <map-summit id="map"></map-summit>

    <div class="container">
		<div class="row content-box-3">
			<div class="col-sm-6">
				<h3>Don't miss anything.</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>	
				<p id="twoTypes">The summit consists of <b>two types of activities</b>:</p>
				<div id="showTalkRoom" class="firstColour">
					<span class="glyphicon glyphicon-plus-sign"></span> &nbsp;Talks
				</div>
				<div id="talkRoom">
					As you can see in the programme, there will be ten talks. Each talk will last about thirty minutes. All of them will take place in the Room 1. 
				</div>
				<div id="showWorkshopRoom" class="firstColour">
					<span class="glyphicon glyphicon-plus-sign"></span> &nbsp;Workshops
				</div>
				<div id="workshopRoom">
					After each talk, you'll have thirty minutes to attend to multiples workshops and roundtables in the Room 2, Room 3, Room 4, and Room 5.   
				</div>
			</div>
			<div class="col-sm-6">
				<frame>
					<img src="css/images/rooms.jpg" height="600px" width="100%" alt="Rooms">
				</frame>			
			</div>
		</div>	
		<div class="row">
			<div class="col-md-6"></div>
		</div>
	</div>  
</div>

